[Desktop Entry]
Name=Goverlay
Comment=Graphical UI to help manage Vulkan / OpenGL overlays
Exec=goverlay
Icon=io.github.benjamimgois.goverlay
StartupWMClass=Goverlay
Terminal=false
Type=Application
Categories=Game;
Keywords=MangoHud;vkBasalt;msi;afterburner;
