pkgbase = pascube-git
	pkgdesc = A simple Vulkan spinning cube written in Pascal (Lazarus/Qt6)
	pkgver = 1.6.1.r4.g534a4db
	pkgrel = 1
	url = https://github.com/benjamimgois/pascube
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = fpc
	makedepends = fpc-src
	makedepends = lazarus
	makedepends = clang
	depends = qt6-base
	depends = qt6pas
	depends = mesa
	depends = glu
	depends = sdl2-compat
	depends = hicolor-icon-theme
	provides = pascube
	conflicts = pascube
	source = git+https://github.com/benjamimgois/pascube.git
	sha256sums = SKIP

pkgname = pascube-git
